<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-6xl font-bold mb-1">Honduras Conecta</span>
            <div class="text-6xl font-bold mb-3" style="color: #068892;">¡Innovando por un mundo más justo!</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Somos un emprendimiento tecnológico y social que busca contribuir a la creación de un ecosistema interconectado, sostenible, transparente, vivo e informado.</p>
            <button pButton pRipple label="Sitio Web" icon="pi pi-link" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" onclick="window.location.href='https://www.hondurasconecta.com/'" style="background-color: #068892; border-color: #068892;"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../../assets/img/FondoHNconecta.jpg" alt="Image" class="md:ml-auto block md:w-full" style="clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%); height: 100%;">
    </div>
</div>


