<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProyectoss()" [disabled]="!selectedProyectoss || !selectedProyectoss.length"></button>
                    </div>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>

            <p-table #dt [value]="proyectoss" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Paginación" [(selection)]="selectedProyectoss" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Proyectos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <!-- <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th> -->
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="location">Ubicación</th>
                        <th pSortableColumn="category">Categoria</th>
                        <th pSortableColumn="startDate">Fecha Inicio</th>
                        <th pSortableColumn="endDate">Fecha Final</th>
                        <th pSortableColumn="budget">Presupuesto</th>
                        <th pSortableColumn="organizationID">Id organización</th>
                        <!-- <th>Image</th> -->
                        <!-- <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-proyectos>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="proyectos"></p-tableCheckbox>
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{product.code || product.id}}
                        </td> -->
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{proyectos.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Ubicación</span>
                            {{proyectos.location}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Categoria</span>
                            {{proyectos.category}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha Inicio</span>
                            {{proyectos.startDate}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha Final</span>
                            {{proyectos.endDate}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Presupuesto</span>
                            {{proyectos.budget}}
                        </td>
                        <td style="width:14%; min-width:13rem;">
                            <span class="p-column-title">Id Organización</span>
                            {{proyectos.organizationID}}
                        </td>
                        
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                        </td> -->
                        <!-- <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Price</span>
                            {{product.price | currency:'USD'}}
                        </td> -->
                        <!-- <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{product.category}}
                        </td> -->
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td> -->
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                        </td> -->
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProyectos(proyectos)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProyectos(proyectos)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="proyectosDialog" [style]="{width: '450px'}" header="Información" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
               <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="proyectos.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !proyectos.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !proyectos.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="location">Ubicación</label>
                    <input type="text" pInputText id="location" [(ngModel)]="proyectos.location" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !proyectos.location}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !proyectos.location">La ubicación es requerida</small>
                </div>
                <div class="field">
                    <label for="category">Categoria</label>
                    <input type="text" pInputText id="category" [(ngModel)]="proyectos.category" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !proyectos.category}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !proyectos.category">category is required.</small>
                </div>
                <div class="field">
                    <label for="startDate">Fecha Inicio</label>
                    <input type="text" pInputText id="startDate" [(ngModel)]="proyectos.startDate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !proyectos.startDate}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !proyectos.startDate">startDate is required.</small>
                </div>
                <div class="field">
                    <label for="endDate">Fecha Inicio</label>
                    <input type="text" pInputText id="endDate" [(ngModel)]="proyectos.endDate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !proyectos.endDate}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !proyectos.endDate">endDate is required.</small>
                </div>
                <div class="field">
                    <label for="budget">Presupuesto</label>
                    <input type="text" pInputText id="budget" [(ngModel)]="proyectos.budget" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !proyectos.budget}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !proyectos.budget">budget is required.</small>
                </div>
                <div class="field">
                    <label for="organizationID">Id Organización</label>
                    <input type="text" pInputText id="organizationID" [(ngModel)]="proyectos.organizationID" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !proyectos.organizationID}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !proyectos.organizationID">organizationID is required.</small>
                </div>
                
                <!-- Si se necesita -->
                <!-- <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="organizacion.description" required rows="3" cols="20"></textarea>
                </div> -->

               
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProyectos()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProyectosDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="proyectos">¿Estás seguro de que quieres borrar?<b>{{proyectos.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProyectosDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProyectossDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro de que desea eliminar los productos seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProyectossDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
