<h2>Formulario de Donaciones</h2>
<form>
  <div>
    <label for="nombreDonante">Nombre del Donante:</label>
    <input type="text" id="nombreDonante" [(ngModel)]="donacion.nombreDonante">
  </div>
  <div>
    <label for="cantidadDonada">Cantidad Donada:</label>
    <input type="number" id="cantidadDonada" [(ngModel)]="donacion.cantidadDonada">
  </div>
  <div>
    <label for="fecha">Fecha:</label>
    <input type="Date" id="fecha" [(ngModel)]="donacion.fecha">
  </div>
  <div>
    <label for="proyectoId">Proyecto ID:</label>
    <input type="number" id="proyectoId" [(ngModel)]="donacion.proyectoId">
  </div>
  <button (click)="crearDonacion()">Crear Donación</button>
</form>
