<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedOrganizaciones()" [disabled]="!selectedOrganizacions || !selectedOrganizacions.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="organizaciones" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Paginación" [(selection)]="selectedOrganizacions" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <!-- <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th> -->
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="address">Dirección</th>
                        <th pSortableColumn="email">Correo</th>
                        <th pSortableColumn="phone">Teléfono</th>
                        <th pSortableColumn="description">Descripción</th>
                        <!-- <th>Image</th> -->
                        <!-- <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th> -->
                        <!-- <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-organizacion>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="organizacion"></p-tableCheckbox>
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{product.code || product.id}}
                        </td> -->
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{organizacion.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Dirección</span>
                            {{organizacion.address}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Correo</span>
                            {{organizacion.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Teléfono</span>
                            {{organizacion.phone}}
                        </td>
                        <td style="width:40%; min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                            {{organizacion.description}}
                        </td>
                        
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                        </td> -->
                        <!-- <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Price</span>
                            {{product.price | currency:'USD'}}
                        </td> -->
                        <!-- <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{product.category}}
                        </td> -->
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td> -->
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                        </td> -->
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editOrganizacion(organizacion)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOrganizacion(organizacion)"></button>
                            </div>
                        </td>
                    </tr>
                    <p-dialog [(visible)]="deleteOrganizacionDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span *ngIf="organizacion">¿Estás seguro de que quieres borrar?<b>{{organizacion.name}}</b>?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOrganizacionDialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete(organizacion)"></button>
                        </ng-template>
                    </p-dialog>
            
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="organizacionDialog" [style]="{width: '450px'}" header="Información" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
               <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="organizacion.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !organizacion.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !organizacion.name">Nombre es requerido.</small>
                </div>
                <div class="field">
                    <label for="address">Dirección</label>
                    <input type="text" pInputText id="address" [(ngModel)]="organizacion.address" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !organizacion.address}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !organizacion.address">Dirección es requerida.</small>
                </div>
                <div class="field">
                    <label for="email">Correo</label>
                    <input type="text" pInputText id="email" [(ngModel)]="organizacion.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !organizacion.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !organizacion.email">Correo es requerido.</small>
                </div>
                <div class="field">
                    <label for="phone">Teléfono</label>
                    <input type="text" pInputText id="phone" [(ngModel)]="organizacion.phone" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !organizacion.phone}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !organizacion.phone">Teléfono es requerido.</small>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="organizacion.description" required rows="3" cols="20"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !organizacion.description">Descripción es requerida.</small>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveOrganizacion()"></button>
            </ng-template>
        </p-dialog>

       
        <p-dialog [(visible)]="deleteOrganizacionesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro de que desea eliminar los productos seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOrganizacionesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
