<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Proyectos</span>
                    <div class="text-900 font-medium text-xl">{{proyectos?.length}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Donaciones</span>
                    <div class="text-900 font-medium text-xl">{{totalDonaciones}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Donaciones por proyecto {{informeAnalisis?.[0].proyecto?.titulo}}</span>
                    <div class="text-900 font-medium text-xl">{{informeAnalisis?.[0].donacionesTotales}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Proyectos por {{proyectos[0]?.category}}</span>
                    <div class="text-900 font-medium text-xl">{{cantidadProyectosCat?.length}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid p-fluid">
    <div class="col-12 lg:col-6">
        <div class="card flex flex-column align-items-center">
            <h5>Tendencias del Mercado por Crecimiento  </h5>
            <p-chart width="500" height="500" title="Tendencias del Mercado por Crecimiento" type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card ">
            <h5>Comparacion competencia </h5>
            <p-chart width="500" height="515" type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>
    </div>
</div>
