<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">

                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDonaciones()" [disabled]="!selectedDonaciones || !selectedDonaciones.length"></button> -->

                    </div>
                </ng-template>

               
            </p-toolbar>

            <p-table #dt [value]="donas" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Paginación" [(selection)]="selectedDonaciones" selectionMode="multiple" [rowHover]="true" dataKey="id">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Donaciones</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->

                        <th pSortableColumn="donanteNombre">Nombre<p-sortIcon field="donanteNombre"></p-sortIcon></th>
                        <th pSortableColumn="cantidadDonada">Cantidad Donada</th>
                    
                        <th pSortableColumn="fecha"> Fecha</th>
                        <th pSortableColumn="proyectoId">Id Proyecto</th>
                      
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dona>
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="dona"></p-tableCheckbox>
                        </td> -->
                       
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{dona.donanteNombre}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cantidad Donada</span>
                            {{dona.cantidadDonada}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha</span>
                            {{dona.fecha}}
                        </td>
                        
                        <td style="width:14%; min-width:13rem;">
                            <span class="p-column-title">Id Proyecto</span>
                            {{dona.proyectoId}}

                        </td>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (dona)="editDonaciones(dona)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (dona)="deleteDonaciones(dona)"></button>
                            </div>
                        </td>
                    </tr>
                     <p-dialog [(visible)]="deleteDonacionesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="dona">¿Estás seguro de que quieres borrar?<b>{{dona}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (dona)="deleteDonacionesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (dona)="confirmDelete(dona)"></button>
            </ng-template>
        </p-dialog>


                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="donaDialog" [style]="{width: '450px'}" header="Información" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
               <div class="field">
                    <label for="donanteNombre">Nombre</label>
                    <input type="text" pInputText id="donanteNombre" [(ngModel)]="dona.donanteNombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !dona.donanteNombre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !dona.donanteNombre">El Donante es requerido.</small>
                </div>
                <div class="field">
                    <label for="cantidadDonada">Cantidad Donada</label>
                    <input type="text" pInputText id="cantidadDonada" [(ngModel)]="dona.cantidadDonada" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !dona.cantidadDonada}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !dona.cantidadDonada">La Cantidad es requerido.</small>
                </div>
                <div class="field">
                    <label for="fecha">Fecha</label>
                    <input type="text" pInputText id="fecha" [(ngModel)]="dona.fecha" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !dona.fecha}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !dona.fecha">La fecha es requerida.</small>
                </div>
                <div class="field">
                    <label for="proyectoId">ID Proyecto</label>
                    <input type="text" pInputText id="proyectoId" [(ngModel)]="dona.proyectoId" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !dona.proyectoId}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !dona.proyectoId">ID Proyecto es requerido.</small>
                </div>
            
               
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveDonaciones()"></button>
            </ng-template>
        </p-dialog>

       
        <p-dialog [(visible)]="deleteDonacionesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro de que desea eliminar las Donaciones seleccionadas?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDonacionesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>